@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif !important;
  background: linear-gradient(
    to right,
    rgb(71, 71, 71),
    rgb(44, 44, 44),
    rgb(22, 22, 22)
  ) !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: 0.8s !important;
  justify-content: center !important;
}

#timeline .timeline-badge.center-left,
#timeline .timeline-badge.center-right {
  opacity: 0 !important;
}

.experience h4 {
  font-weight: bold;
}

.contact h4 {
  font-weight: bold;
}

.font2 {
  color: white;
  opacity: 0.8;
  font-size: 0.7em;
  font-weight: bold;
}

.font3 {
  opacity: 0.8;
  color: white;
  font-size: 0.5em;
}

.divider-text {
  opacity: 0.6 !important;
}

.black-background {
  background-color: black !important;
}

img.contain {
  height: unset !important;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  .lefting-wrap,
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  .lefting-wrap {
  position: relative !important;
}

.job-text {
  opacity: 0.8;
}

.content {
  grid-area: content !important;
  margin: 5em auto auto auto;
}

.text-muted {
  color: white !important;
  opacity: 0.6 !important;
  font-size: 0.5em !important;
}

#timeline .timeline-movement .timeline-item .timeline-panel {
  text-align: left !important;
  line-height: 0.8 !important;
}

.sidebar {
  left: 0;
  z-index: 10 !important;
  position: fixed !important;
  width: 100vw !important;
  grid-area: sidebar !important;
  background: #696969 !important;
  justify-content: center !important;
}

.container {
  font-size: 1.5em !important;
  width: 100% !important;
  height: 100vh !important;
  display: grid !important;
  grid-template-areas:
    "sidebar"
    "content"
    "footer" !important;
  grid-template-columns: 1fr !important;
  align-items: center !important;
}

.content,
.sidebar,
.footer {
  padding: 0.3em 0em 0.3em 0em !important;
}

nav ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: space-around !important;
  text-align: center !important;
}

nav li {
  list-style: none !important;
  padding: 1em 0 !important;
}

nav li a {
  color: white !important;
  font-weight: 700 !important;
  opacity: 0.6 !important;
  text-decoration: none !important;
  transition: 0.3s !important;
  font-size: 80% !important;
}

nav li a:hover {
  opacity: 1 !important;
}

.thispage {
  opacity: 1 !important;
}

.portfolio-image {
  text-align: center !important;
}

.experience {
  text-align: center !important;
}

.contact {
  text-align: center !important;
}

.hero {
  max-width: 960px !important;
  margin: 0 auto !important;
  margin-top: 5em !important;
  text-align: center !important;
}

/* custom css */
h1.white-text {
  color: white !important;
}

.white-text {
  color: white !important;
}

.flex {
  display: flex !important;
  flex-direction: row !important;
}

.float-left {
  float: left !important;
}

h6 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  padding-block-start: 0 !important;
  padding-block-end: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

h1,
h5 {
  margin-block-start: 0.5em !important;
  margin-block-end: 0.5em !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  padding-block-start: 0 !important;
  padding-block-end: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

/* card */
.card-wrapper {
  display: block;
}

img.clipped {
  clip-path: circle();
  margin: auto;
  display: block;
}

div.sosmed-card {
  margin: 2em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(148, 148, 148);
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

img.sosmed {
  width: 80px;
}

.zoom:hover {
  box-shadow: 0 0px 10px rgb(148, 148, 148);
}
/* end card */

/* end custom css */

/* responsive */
@media (min-width: 1040px) {
  .sidebar {
    width: unset !important;
    height: 100vh !important;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
  }
  #timeline .timeline-badge.center-left,
  #timeline .timeline-badge.center-right {
    opacity: 1 !important;
  }
  .container {
    height: 100vh !important;
    grid-template-areas:
      "sidebar content"
      "sidebar footer" !important;
    grid-template-columns: 150px 1fr !important;
    grid-template-rows: 1fr auto !important;
    align-items: unset !important;
  }

  .card-wrapper {
    display: flex;
    max-width: 100vw;
    margin-top: 16vh;
    margin-left: -10vw;
  }

  div.sosmed-card {
    margin: 1em;
    width: 150px;
    height: 150px;
  }

  .contact h4 {
    margin-left: -10vw;
  }

  img.sosmed {
    width: 100px;
  }

  .index {
    margin-left: -8em !important;
  }

  .content {
    margin: 5em unset unset -1em;
    margin-top: 1.5em;
  }

  nav ul {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
  }

  .sidebar {
    background: #575757 !important;
    padding-top: 3em !important;
  }
}
